<template name="csvdialog">
    <div class="modal" id="csvdialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">CSV Data</h4>
                </div>
                <div class="modal-body">
                    <p class="text-wraper">
                        {{csvdata}}
                    </p>
                </div>

            </div>
        </div>
    </div>
</template>